{% extends "page.html" %}
{% load static %}

{% block title %}Nosso Negócio{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/negocio-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Nosso <strong>Negócio</strong>
      </div>
    </div>
  </div>
</div>

<div class="textimage-section">
  <div class="container">
    <div class="row textimage-row">
      <div class="textimage-text-col textimage-negocio-col col-sm-12 col-md-6">
        <div class="textimage-detail">
          &nbsp;
        </div>
        <div class="textimage-text">
          Como parte de um grupo que <strong>possui uma cadeia de produção
          geradora de gordura animal, a JBS Higiene <span class="eespecial">&</span> Limpeza detém
          suprimentos de alta escala e qualidade</strong>, devido a um modelo de
          rastreabilidade que permite identificar de qual fazenda vem cada
          matéria-prima. Isso garante que o óleo animal utilizado em nosso
          processo de produção esteja alinhado com todas as normas de
          sustentabilidade.
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="negocio-image-col">
          <img src="{% static 'img/home/negocio.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="producao-section">
  <div class="container">
    <div class="row producao-row">
      <div class="col-sm-12 col-md-6">
        <div class="negocio-image-col">
          <img src="{% static 'img/negocio/producao-v2.png'%}">
        </div>
      </div>
      <div class="producao-text-col col-sm-12 col-md-6">
        <div class="producao-detail">
          &nbsp;
        </div>
        <div class="producao-text">
          <strong>As 11 linhas de produção</strong> de sabonetes são robotizadas e
          programadas para produzirem diferentes tipos de embalagens como:
          flow pacĸ, folding box e wrap paper. Adicionalmente
          as linhas também estão programadas para produção de pacĸs
          promocionais (desde leve 4, pague 3 até leve 12, pague 11),
          permitindo alta flexibilidade e competitividade aos nossos
          clientes
        </div>
        <div class="producao-destaque-text">
          Com modernos sistemas de segurança,
          todo sabonete produzido passa por um
          processo rigoroso de controle de qualidade,
          garantindo todas as especificações e
          seguindo todas as exigências dos órgãos
          reguladores e auditorias dos clientes.
        </div>
        <div class="producao-destaque-image">
          <img src="{% static 'img/negocio/destaque.png'%}">
        </div>
    </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>Nossos produtos</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 produto-img-col">
        <div class="produto-img">
          <img src="{% static 'img/home/produto1.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          Massa Base
        </div>
        <div class="produto-text">
          Grande variedade de massas disponíveis para atender diferentes
          tipos de perfis de sabonetes e sabões em barra, tanto de origem
          animal quanto vegetal, respeitando as melhores práticas de
          sustentabilidade desde o início da cadeia de fornecimento.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 produto-img-col">
        <div class="produto-double-img">
          <img src="{% static 'img/home/produto3.png'%}">
          <img src="{% static 'img/home/produto4.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          Sabonete e Sabão em Barra
        </div>
        <div class="produto-text">
          Linhas de produção adaptadas para atendimento ao pequeno,
          médio e grande volume. Além de diferentes formatos, pesos e
          embalagens, tais como: wrap paper, flowpacĸ, folding box.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 produto-img-col">
        <div class="produto-img">
          <img src="{% static 'img/home/produto2.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          Glicerina Bi-Destilada
        </div>
        <div class="produto-text">
          Alta capacidade de produção de glicerina bruta e bi-destilada (USP)
          para atender diferentes segmentos, tais como: alimentício,
          farmacêutico, químico entre outros.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>Qualidade</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="qualidade-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 qualidade-text-col">
        <div class="qualidade-title">
          1. Sistema de gestão:
        </div>
        <div class="qualidade-text">
          <ul class="qualidade-bullets-ul">
            <li>Auditorias internas (anuais em 23 processos);</li>
            <li>Auditorias de clientes;</li>
            <li>Auditorias de órgãos regulamentadores;</li>
            <li>Validações (limpeza, software, processos, produtos e métodos);</li>
            <li>Homologação de fornecedores;</li>
            <li>Relacionamento pós-venda com os clientes;</li>
            <li>Indicadores de qualidade;</li>
            <li>Responsável pela liberação de todos os produtos acabados;</li>
            <li>Controle de documentos internos e externos (via sistema isosystem).</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="qualidade-img">
          <img src="{% static 'img/negocio/qualidade.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>Laboratório</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="qualidade-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 qualidade-text-col">
        <div class="qualidade-title">
          2. Físico-Químico e Microbiológico:
        </div>
        <div class="qualidade-text">
          <ul class="qualidade-bullets-ul">
            <li>Análise de recebimento de matéria-prima, processo e produto acabado;</li>
            <li>Prestação de serviços para análises externas;</li>
            <li>Padronização de coletas e treinamentos técnicos;</li>
            <li>Auditorias de processos.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="qualidade-img">
          <img src="{% static 'img/negocio/laboratorio.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row">
      <div class="highlight-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="highlight-title">
          Nossas <strong>Certificações:</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="certificacoes-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="certificacoes-img">
          <img src="{% static 'img/negocio/certificacoes-pt-v2.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
