{% extends "page.html" %}
{% load static %}

{% block title %}Política de Privacidade{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/privacidade-v1.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        <strong>Política de Privacidade</strong>
      </div>
    </div>
  </div>
</div>

<div class="privacidade-section">
	<div class="container">
		<div class="privacidade-text col-md-12 col-sm-12 col-xs-12">
			<p>&nbsp;</p>

      <p style='text-align:justify;
     '><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify;
     '><span style=';'>Sua privacidade é muito importante para nós. A JBS
      HIGIENE E LIMPEZA valoriza você e está comprometida em proteger a sua segurança
      e privacidade de seus dados.</span></p>

      <p style='text-align:justify;
     '><span style=';'>&nbsp;</span></p>

      <p style='text-align:justify;
     '><span style=';'>Com esta Política de Privacidade (“Política”)
      pretendemos esclarecê-lo, de forma objetiva e transparente: </span></p>

      <p style='text-align:justify;
     '><span style=';'>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;
     Symbol'>·<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span style=';
      '>Quais dados pessoais coletamos;</span></p>

      <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;
     Symbol'>·<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span style=';
      '>Como e porque motivo utilizamos; </span></p>

      <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;
     Symbol'>·<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span style=';
      '>A quem os divulgamos; e </span></p>

      <p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;
     Symbol'>·<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><span style=';
      '>Como protegemos a sua privacidade quando
      você utiliza nossos serviços ou visita nossas plataformas. </span></p>

      <p class=MsoListParagraphCxSpLast style='text-align:justify'><span style=';
      '>&nbsp;</span></p>

      <p style='text-align:justify'><span style='
      '>Antes, importante trazermos uma informação sobre os
      dados pessoais de menores de idade. Temos que tomar bastante cuidado com esses
      dados pessoais, assim, apenas pessoas físicas maiores de 18 (dezoito) anos de
      idade completos, encontram-se autorizados a utilizar o website da JBS HIGIENE E
      LIMPEZA anuindo e consentindo à esta condição. Ao concordar com a presente
      Política, você nos dá plena e inquestionável compreensão desta e todos os
      demais detalhes abaixo informados. Caso você seja um menor de idade, pedimos
      que realize qualquer utilização do website da JBS, com a supervisão dos seus
      representantes legais e sempre inserindo dados pessoais de maiores de idade.   </span></p>

      <p style='text-align:justify'><span style='
      '>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:0cm'><b><span style='font-size:10.0pt;
     ;'>1.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';'>Onde a</span></b><span lang=PT-BR
      style=';'>
      <b>JBS HIGIENE E LIMPEZA está presente?</b></span></p>

      <p style='text-align:justify'><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify'><span style='
      '>A JBS HIGIENE E LIMPEZA, unidade de negócio do grupo
      JBS, <span>é uma multinacional reconhecida como uma
      das líderes globais da indústria de higiene e limpeza,</span> que tem por
      missão seguir seus valores e proporcionar um portifólio de produtos
      diversificado. </span></p>

      <p style='text-align:justify'><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify'><span style='
      '>Pensando nisso, a JBS HIGIENE E LIMPEZA, por meio do website
      </span><span style='color:#2F5496'>https://www.jbshl.com.br</span><span
      style=';;color:#2F5496'> </span><span style='font-size:10.5pt;
     Mangueira;color:black;background:white'>(“Plataforma
      Digital”),&nbsp;</span><span style='font-size:10.0pt;
     ;'>traz um pouco da sua história, sua
      missão, valores, seus negócios, sua estrutura corporativa, entre outras
      informações, para que você tenha conhecimento sobre a empresa. </span></p>

      <p style='text-align:justify'><span style='
      '>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:0cm'><b><span style='font-size:10.0pt;
     ;'>2.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Como usamos seus dados pessoais? </span></b></p>

      <p style='text-align:justify'><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify'><span style='
      '>No contexto do website JBS HIGIENE E LIMPEZA, será
      necessário coletar alguns dados pessoais para melhor experiência de navegação
      no website. Assim, usamos seus dados pessoais de várias maneiras diferentes, a
      depender de cada situação específica. </span></p>

      <p style='text-align:justify'><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify'><span style='font-size:10.5pt;150%
      Mangueira;color:black;background:white'>Os Termos de Uso (“ToS”) específicos da
      Plataforma Digital, você poderá encontrar no seguinte link&nbsp;</span><span
      style='color:#2F5496'> https://www.jbshl.com.br/termos-de-uso</span></p>

      <p style='text-align:justify'><span style='
      '>As tabelas abaixo descrevem isso em detalhes,
      mostrando o que fazemos e porque fazemos. </span></p>

      <p style='text-align:justify'><span lang=PT-BR>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpFirst style='margin:0cm;text-align:justify;text-indent:0cm'><b><span style='150%'>(a)<span
      style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Coleta de seus dados pessoais, como nome completo,
      número de telefone e e-mail e outros que para as finalidades sejam necessários.<span
      style='color:red'> </span></span></b></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify'><b><span lang=PT-BR>&nbsp;</span></b></p>

      <div align=center>

      <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
        style='border-collapse:collapse;border:none'>
        <tr>
        <td valign=top style='border:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>O que nós fazemos? </span></p>
        </td>
        <td valign=top style='border:solid windowtext 1.0pt;
        border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>Porque fazemos isso? </span></p>
        </td>
        </tr>
        <tr>
        <td valign=top style='border:solid windowtext 1.0pt;
        border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>Identificá-lo quando você visita nosso site ou entrar
        em contato conosco. </span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
        none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>Legalmente, precisamos fazer isso. </span></p>
        </td>
        </tr>
        <tr>
        <td valign=top style='border:solid windowtext 1.0pt;
        border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span style='font-size:10.5pt;150%
        Mangueira;color:black;background:white'>Prestarmos informações sobre a empresa
        e os produtos da </span><span style='font-size:10.0pt;
       ;'>JBS HIGIENE E LIMPEZA</span><span
        style='font-size:10.5pt;150%Mangueira;
        color:black;background:white'>, envio de amostras e cotações, sejam clientes
        ou interessados.</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
        none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span style='font-size:10.5pt;150%
        Mangueira;color:black;background:white'>Ajudam-nos a aprimorar nossas
        ferramentas de relacionamento para uma melhor experiência baseados em seus
        interesses.</span></p>
        </td>
        </tr>
        <tr>
        <td valign=top style='border:solid windowtext 1.0pt;
        border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span style='font-size:10.5pt;150%
        Mangueira;color:black;background:white'>Usamos seus dados pessoais para o
        pós-venda e pesquisa de satisfação.</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
        none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span style='font-size:10.5pt;150%
        Mangueira;color:black;background:white'>Contratualmente, precisamos saber a
        identificação certa de quem está realizando cadastro ou adquirindo produtos
        ou serviços. Para controle na emissão de pedidos, emissão de nota fiscal,
        cadastro no CRM e análise de mercado.</span></p>
        </td>
        </tr>
      </table>

      </div>

      <p style='text-align:justify;
     '><b><span style='
      '>&nbsp;</span></b></p>

      <p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
      7.5pt;margin-left:0cm;text-indent:0cm;normal;background:white'><b><span
      lang=PT-BR>(b)<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style='font-size:10.0pt;;
      color:black'>Além dos Dados acima, suas informações de pagamento</span></b></p>

      <div align=center>
      <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
        style='background:white;border-collapse:collapse;border:none'>
        <tr>
        <td style='border:solid windowtext 1.0pt;padding:5.25pt 5.25pt 5.25pt 5.25pt'>
        <p style='margin-bottom:15.0pt;normal'><span
        style='font-size:10.5ptMangueira;color:black'>O que
        nós fazemos?</span></p>
        </td>
        <td style='border:solid windowtext 1.0pt;border-left:none;padding:5.25pt 5.25pt 5.25pt 5.25pt'>
        <p style='margin-bottom:15.0pt;normal'><span
        style='font-size:10.5ptMangueira;color:black'>Porque
        fazemos isso?</span></p>
        </td>
        </tr>
        <tr>
        <td style='border:solid windowtext 1.0pt;border-top:none;padding:5.25pt 5.25pt 5.25pt 5.25pt'>
        <p style='margin-bottom:15.0pt;normal'><span
        style='font-size:10.5ptMangueira;color:black'>Manter
        registro de todas as transações financeiros com você</span></p>
        </td>
        <td style='border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;
        border-right:solid windowtext 1.0pt;padding:5.25pt 5.25pt 5.25pt 5.25pt'>
        <p style='margin-bottom:15.0pt;normal'><span
        style='font-size:10.5ptMangueira;color:black'>Precisamos
        saber pelo o que você recebeu e também precisamos informar o contribuinte
        sobre esta transação.</span></p>
        </td>
        </tr>
      </table>
      </div>

      <p class=MsoListParagraphCxSpFirst style='margin:0cm;text-align:justify;
     '><b><span style=';
      '>&nbsp;</span></b></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;
      text-indent:0cm'><b><span style='150%'>(c)<span
      style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Seu histórico de contato conosco</span></b></p>

      <p style='text-align:justify;
     '><b><span style='
      '>&nbsp;</span></b></p>

      <p style='text-align:justify;
     '><span style='
      '>O que você nos disse quando nos procurar – por
      exemplo, por e-mail, mídia social ou mensagem privada, para qualquer
      informação, reclamação, elogios, dentre outros. Se você entrar em contato por
      telefone, também gravamos chamadas para o nosso centro de atendimento ao
      cliente.</span></p>

      <p style='text-align:justify;
     '><span style='
      '>&nbsp;</span></p>

      <div align=center>

      <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
        style='border-collapse:collapse;border:none'>
        <tr>
        <td valign=top style='border:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>O que nós fazemos? </span></p>
        </td>
        <td valign=top style='border:solid windowtext 1.0pt;
        border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>Porque fazemos isso? </span></p>
        </td>
        </tr>
        <tr>
        <td valign=top style='border:solid windowtext 1.0pt;
        border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='text-align:justify;
       '><span lang=PT-BR>Gravar ou monitorar as ligações telefônicas realizadas
        no serviço de atendimento ao consumidor</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
        none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
        padding:0cm 5.4pt 0cm 5.4pt'>
        <p style='150%'><span
        lang=PT-BR>Oferecer um melhor serviço e realizar controles de qualidade.</span></p>
        </td>
        </tr>
      </table>

      </div>

      <p style='text-align:justify;
     '><b><span style='
      '>&nbsp;</span></b></p>

      <p class=MsoListParagraphCxSpFirst style='margin:0cm;text-align:justify;
      text-indent:0cm'><span style='150%'>(d)<span
      style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span><b><span style=';
      '>Ampliando o Relacionamento com a JBS
      Higiene e Limpeza</span></b></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;
     '><span style=';
      '>&nbsp;</span></p>

      <p style='text-align:justify;
     '><span style='
      '>Você poderá optar por não fornecer qualquer um dos
      dados acima requeridos, porém, para a execução da navegação no website e de
      alguns serviços básicos que a JBS HIGIENE E LIMPEZA possa oferecer, certas
      informações serão necessárias para que você possa utilizar integralmente todas
      as funcionalidades do website da JBS HIGIENE E LIMPEZA, para que possamos
      manter o melhor relacionamento com você.</span></p>

      <p style='text-align:justify;
     '><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify;
     '><span style='
      '>A JBS HIGIENE E LIMPEZA poderá tratar seus dados
      pessoais, sempre na forma da Legislação pertinente, para os fins de cumprimento
      de leis ou regulamentos específicos, em processos judiciais ou administrativos,
      a pedido de Juiz ou órgão público administrativo competente e demais casos
      previstos na Lei Geral de Proteção de Dados e/ou Regulações sobre o assunto.
      Sempre que houver denúncia, procedimento específico, a JBS HIGIENE E LIMPEZA deverá
      cumprir e manter os critérios legais de sigilo e confidencialidade, seja
      perante terceiros, seja perante o próprio titular dos dados, exceção apenas ao
      órgão ou competência judicial ou administrativa específica do eventual caso.  </span></p>

      <p style='text-align:justify;
     '><span style='
      '>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpFirst style='margin:0cm;text-align:justify;
      text-indent:0cm'><b><span style='font-size:10.0pt;
     ;'>3.<span
      style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Com quem compartilhamos suas informações?
      </span></b></p>

      <p class=MsoListParagraphCxSpMiddle style='margin:0cm;text-align:justify;
     '><span style=';
      '>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpMiddle style='margin:0cm;text-align:justify;
     '><span style=';
      '>Não vendemos ou trocamos seus dados
      pessoais com terceiros, mas compartilhamos com outras pessoas como parte
      essencial da capacidade de fornecer nossos serviços a você. Podem ser outras
      empresas do grupo, prestadores de serviços ou parceiros de negócio. Estamos
      todos comprometidos em manter suas informações seguras.</span></p>

      <p class=MsoListParagraphCxSpMiddle style='margin:0cm;text-align:justify;
     '><span style=';
      '>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpMiddle style='margin:0cm;text-align:justify;
     '><span style=';
      '>A JBS HIGIENE E LIMPEZA também poderá
      compartilhar seus dados pessoais a fim de cumprir com as legislações vigentes,
      para fins fiscais e/ou de consumo e cooperar com as autoridades competentes. </span></p>

      <p class=MsoListParagraphCxSpMiddle style='margin:0cm;text-align:justify;
     '><span style=';
      '>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;
      text-indent:0cm'><b><span style='font-size:10.0pt;
     ;'>4.<span
      style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Onde e por quanto tempo mantemos seus
      dados pessoais? </span></b></p>

      <p style='text-align:justify;
     '><b><span style='
      '>&nbsp;</span></b></p>

      <p style='text-align:justify;
     '><span style='
      '>Todo dado pessoal é armazenado em servidores
      localizados no Brasil e em alguns casos nos Estados Unidos. No futuro, a JBS
      HIGIENE E LIMPEZA pode realocar e armazenar esses servidores em qualquer outro
      país que atenda a legislação de privacidade, a fim de ter um suporte ou backup,
      sempre os mantendo sob nossa supervisão e de forma seguras.</span></p>

      <p style='text-align:justify;
     '><span style='
      '>&nbsp;</span></p>

      <p style='text-align:justify;
     '><span style='
      '>Manteremos suas informações enquanto você possuir
      algum relacionamento com a JBS HIGIENE E LIMPEZA e pelo tempo necessário para
      cumprirmos nossos requisitos legais. O período de tempo durante o qual os dados
      são armazenados varia de acordo com a finalidade para que foram coletados, caso
      não exista uma exigência legal específica. </span></p>

      <p style='text-align:justify;
     '><b><span style='
      ;color:red'>&nbsp;</span></b></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>5.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Como mantemos seus dados pessoais
      seguros?</span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Protegemos seus dados
      pessoais de todos os tipos de ameaça: destruição, perda, alteração, divulgação
      ou acesso não autorizados. A JBS HIGIENE E LIMPEZA protege seus Dados Pessoais
      de acordo com os padrões e procedimentos de segurança e confidencialidade
      estabelecidos pela legislação brasileira. </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>6.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Seus direitos</span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Como seus direitos, você
      poderá solicitar, a todo tempo:</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>a. Informação sobre como
      seus dados pessoais estão sendo usados;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>b. Acessar os dados
      pessoais que mantemos sobre você;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>c. Solicitar a correção
      de dados pessoais inexatos, incompletos ou desatualizados que mantemos sobre
      você; </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>d. Requisitar eventual anonimização,
      bloqueio ou eliminação dos dados desnecessários, excessivos ou tratados em
      desconformidade, sempre levando-se em consideração às exceções quanto à
      manutenção dos dados necessários para fins de cumprimento legal pela JBS
      HIGIENE E LIMPEZA; </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>e. Portabilidade de
      dados a outro fornecedor de serviço ou produto;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>f. Informação sobre a
      possibilidade de não fornecer consentimento sobre as consequências da negativa;
      </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>g. Revogar o
      consentimento; e</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>h. Informações sobre o
      compartilhamento de seus dados com entidades públicas e privadas; </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Qualquer solicitação
      deve ser feita através de um pedido, contendo cópia de sua identificação
      pessoal, RG, Carteira de Motorista, Passaporte ou Identificações Profissionais,
      acessando o site: </span><span lang=PT-BR><a
      href="https://jbs.com.br/contato/portal-de-privacidade/"><span
      style=';'>https://jbs.com.br/contato/portal-de-privacidade/</span></a></span><span
      style=';'>
      </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><b><span style='font-size:10.0pt;
     ;;color:red'>&nbsp;</span></b></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>7.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Cookies – Plataforma Digital</span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Considere que, ao
      acessar o website, a JBS HIGIENE E LIMPEZA recebe automaticamente sobre você,
      através de informações de cookies, web beacons, seu navegador e sistema
      operacional, sobre os websites acessados, os links e o endereço IP do terminal.
      A JBS HIGIENE E LIMPEZA utiliza a informação coletada principalmente para
      melhorar a sua experiência em relação a navegação do website. </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Em todo momento, você
      poderá optar por não receber um arquivo de cookie, programando seu navegador
      para recusar cookies ou avisar antes de aceitar um. Leve em conta que, ao
      recusar o aceite de cookies, você poderá não ter acesso a diversas
      funcionalidades do website. </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Os “Cookies” são
      arquivos de texto que são baixados automaticamente e armazenados no dispositivo
      utilizado, enquanto você navega numa página ou portal específico da internet,
      que permitem guardar determinada quantidade de dados sobre suas atividades na
      internet. Os cookies são utilizados a fim de conhecer os interesses,
      comportamento e demografia Usuários (Visitantes ou não) do website, para poder
      entender melhor suas necessidades e interesses, oferecendo um melhor serviço ou
      fornecendo informação relacionada. </span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p class=MsoListParagraphCxSpFirst style='margin:0cm;text-align:justify;
      text-indent:0cm'><b><span style='font-size:10.0pt;
     ;'>8.<span
      style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Proteção das Senhas e Do Acesso nos
      Canais de Serviços da JBS HIGIENE E LIMPEZA</span></b></p>

      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Ao se cadastrar na
      Plataforma Digital por meio da criação de uma conta de acesso específica,
      solicitamos a você criar um nome de usuário e uma senha. Se Você perder o
      controle sobre sua conta ou senha de acesso à Plataforma Digital, você pode
      perder o controle sobre seus dados pessoais. Portanto, se por qualquer motivo
      sua senha estiver comprometida, imediatamente troque-a, modificando os dados de
      registro fornecidos à JBS HIGIENE E LIMPEZA.</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>9.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Links – veículos externos </span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>O website pode contar
      com vínculos (links) a outros websites que tenham suas próprias políticas de
      privacidade e de confidencialidade. Caso você visite outros sites, recomendamos
      que leia atentamente as práticas e políticas de confidencialidade, sendo que
      esta Política de Privacidade não abrange as práticas e políticas de terceiros,
      inclusive aqueles que possam revelar e/ou compartilhar informação com a JBS
      HIGIENE E LIMPEZA.</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>10.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Informação Pública </span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><b><span style='font-size:10.0pt;
     ;'>&nbsp;</span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Considere que, ao
      inserir informação em áreas públicas da Plataforma Digital, ela estará
      disponível para os outros Usuários e para o público geral. A JBS HIGIENE E
      LIMPEZA não pode controlar o que essas pessoas fazem com a informação. Por
      favor, lembre-se disso e seja cuidadoso com a informação que decidir divulgar.</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>11.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Responsável pela Proteção de seu Dado
      Pessoal </span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>O responsável pela base
      de dados no Brasil é a JBS S/A, devidamente inscrita no CNPJ/MF sob nº
      02.916.265/0001-60, localizada na Avenida Marginal Direita do Tietê, 500, Vila Jaguará,
      São Paulo, Brasil.</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>O responsável pela base
      de dados no Brasil é a JBS S/A HIGIENE E LIMPEZA, devidamente inscrita no
      CNPJ/MF sob nº 02.916.265/0173-05, localizada na Rodovia BR 153 KM 179 BL2, N</span><span
      lang=PT-BR>º SN, Zona Rural – Lins – São Paulo – Brasil – CEP 16400-972.</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;;color:red'>&nbsp;</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>A JBS HIGIENE E LIMPEZA poderá
      realizar quaisquer alterações nesta Política de Privacidade no futuro. Qualquer
      alteração na forma em que a JBS utiliza dados pessoais ficará estabelecida nas
      futuras versões desta “Política de Privacidade”, sendo publicada e divulgada no
      website JBS HIGIENE E LIMPEZA. Recomendamos revisar periodicamente esta seção.</span></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>&nbsp;</span></p>

      <p class=MsoListParagraph style='margin:0cm;text-align:justify;text-indent:
      0cm'><b><span style='font-size:10.0pt;
     ;'>12.<span style='font:7.0pt '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span></span></b><b><span style=';
      '>Legislação Aplicável e Jurisdição </span></b></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'></p>

      <p style='text-align:justify;
     ;vertical-align:baseline'><span style='font-size:10.0pt;
     ;'>Os termos desta Política
      de Privacidade são interpretados de acordo com a legislação brasileira, sendo
      eleito o foro da comarca da capital do Estado de domicílio do Usuário para
      dirimir qualquer litígio, questão ou dúvida superveniente, com expressa
      renúncia de qualquer outro, por mais privilegiado que seja.</span></p>
		</div>
	</div>
</div>

{% endblock %}
