{% extends "page.html" %}
{% load static %}

{% block title %}Sustentabilidade{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sustentabilidade-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        <strong>Sustentabilidade</strong>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/florest.png' %}" alt="Sustentabilidade">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row highlight-row">
      <div class="highlight-col col-sm-12 col-md-12">
        <div class="highlight-detail">
          &nbsp;
        </div>
        <div class="highlight-text">
          <strong>A sustentabilidade na JBS é um compromisso transversal das Unidades
          de Negócios com áreas da Companhia</strong> em todos os países onde a
          empresa mantém operações e realiza negócios. Tudo com base em uma atuação ética e
          transparente, no relacionamento construtivo com seus staĸeholders e
          na responsabilidade do tratamento dado às pessoas, aos animais e ao meio ambiente.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="amazonia-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="amazonia-image">
          <img src="{% static 'img/sustentabilidade/amazonia.png' %}" alt="Juntos pelo Amazonia">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="iniciativa-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="iniciativa-text">
          Uma das iniciativas mais importantes é o programa Juntos pela Amazônia que integra este compromisso,
          fomenta o desenvolvimento do bioma amazônico, promove a conservação e o uso sustentável da floresta,
          prevê melhorias na qualidade de vida da população que nela reside e o desenvolvimento
          de novas tecnologias para preservar o meio ambiente.
          Com a implementação de uma plataforma blocĸchain, inédita no setor de proteína animal,
          ampliará o monitoramento dos fornecedores diretos da JBS para os fornecedores deles.
        </div>

        <div class="iniciativa-link">
          Conheça mais em: <a href="https://www.jbs.com.br/sustentabilidade" target="_blank" rel="noopener">www.jbs.com.br/sustentabilidade</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divisor-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="divisor-image">
          <img src="{% static 'img/sustentabilidade/divisor.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/plant.png' %}" alt="Planta">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row highlight-row">
      <div class="highlight-col col-sm-12 col-md-12">
        <div class="highlight-detail">
          &nbsp;
        </div>
        <div class="highlight-text">
          <strong>O aquecimento global é um dos maiores desafios da história da humanidade.</strong>
          Como uma das maiores produtoras mundiais de alimentos,
          a JBS assume o compromisso de fazer parte da mudança, tornando-se Net Zero até 2040.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
