{% extends "page.html" %}
{% load static %}

{% block title %}Our Business{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/negocio-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Our <strong>Business</strong>
      </div>
    </div>
  </div>
</div>

<div class="textimage-section">
  <div class="container">
    <div class="row textimage-row">
      <div class="textimage-text-col textimage-negocio-col col-sm-12 col-md-6">
        <div class="textimage-detail">
          &nbsp;
        </div>
        <div class="textimage-text">
          As part of the group with an <strong>animal fat production chain, H<span class="eespecial">&</span>B
          has a broad-scale and quality supply</strong>, thanks to a traceability
          model that identifies the farm from which each raw material comes.
          In addition, it ensures that the animal oil used in our production process complies with all Sustainability standards.
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="negocio-image-col">
          <img src="{% static 'img/home/negocio.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="producao-section">
  <div class="container">
    <div class="row producao-row">
      <div class="col-sm-12 col-md-6">
        <div class="negocio-image-col">
          <img src="{% static 'img/negocio/producao-v2.png'%}">
        </div>
      </div>
      <div class="producao-text-col col-sm-12 col-md-6">
        <div class="producao-detail">
          &nbsp;
        </div>
        <div class="producao-text">
          <strong>Eleven soap production lines </strong> are robotized and programmed to produce different types of packaging, such as flow pacĸ, folding boxes, and wrapping paper. Additionally, the lines are also programmed to produce promotional packages (like buy 4, pay 3 to buy 12, pay 11), allowing customers high flexibility and competitiveness.
        </div>
        <div class="producao-destaque-text">
          Relying upon modern security systems, every soap produced undergoes a strict quality control process, assuring compliance with all specifications and meeting all requirements of regulatory bodies and client audits.
        </div>
        <div class="producao-destaque-image">
          <img src="{% static 'img/negocio/destaque.png'%}">
        </div>
    </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>Our products</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 produto-img-col">
        <div class="produto-img">
          <img src="{% static 'img/home/produto1.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          SOAP NOODLE
        </div>
        <div class="produto-text">
          A wide variety of soap noodles are available to meet the requirements of different types of soap and bar soap profiles, both of animal and vegetable origin, compliant with the best sustainability practices since the beginning of the supply chain.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 produto-img-col">
        <div class="produto-double-img">
          <img src="{% static 'img/home/produto3.png'%}">
          <img src="{% static 'img/home/produto4.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          SOAP AND BAR SOAP
        </div>
        <div class="produto-text">
          Production lines adjusted to the supply of small, medium, and large volumes. In addition to different formats, weights, and packaging, such as wrap paper, flow pacĸ, folding box.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 produto-img-col">
        <div class="produto-img">
          <img src="{% static 'img/home/produto2.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          BI-DISTILLED GLYCERIN
        </div>
        <div class="produto-text">
          The large capacity to produce crude and bi-distilled glycerin (USP) is intended to meet different segments' requirements, such as food, pharmaceutical, chemical, and others.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>Quality</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="qualidade-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 qualidade-text-col">
        <div class="qualidade-title">
          1. Management system:
        </div>
        <div class="qualidade-text">
          <ul class="qualidade-bullets-ul">
            <li>Internal auditing (annual for 23 processes);</li>
            <li>Client auditing;</li>
            <li>Regulatory organs auditing;</li>
            <li>Validation (cleaning, software, processes, products, and methods);</li>
            <li>Approval of suppliers;</li>
            <li>After-sales relationship with clients;</li>
            <li>Quality indicators;</li>
            <li>Responsible for the release of all finished products;</li>
            <li>Control of internal and external documents (via isosystem).</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="qualidade-img">
          <img src="{% static 'img/negocio/qualidade.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>LABORATORY </strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="qualidade-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 qualidade-text-col">
        <div class="qualidade-title">
          2. Physical-Chemical and Microbiological:
        </div>
        <div class="qualidade-text">
          <ul class="qualidade-bullets-ul">
            <li>Review of raw material receipt, process, and finished product;</li>
            <li>Provisional services for external analysis;</li>
            <li>Collection standardization and technical training;</li>
            <li>Process auditing.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="qualidade-img">
          <img src="{% static 'img/negocio/laboratorio.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row">
      <div class="highlight-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="highlight-title">
          Our <strong>Certifications:</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="certificacoes-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="certificacoes-img">
          <img src="{% static 'img/negocio/certificacoes-en-v2.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
