{% extends "page.html" %}
{% load static %}

{% block title %}Our history{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/historia-v1.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Our <strong>history</strong>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/historia/photo-v2.png' %}" alt="Nossa História">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row">
      <div class="highlight-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="highlight-title">
          <strong>JBS HYGIENE <span class="eespecial">&</span> CLEANING </strong>Joperates since 1990. It is a JBS S/A Group business unit and is currently the major Brazilian producer of soaps, bar soaps, soap noodle, and glycerin.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="text-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="text-text">
          Founded in the ‘50s in Brazil, JBS S/A Group is the second-largest food company globally. It is the leading animal protein producer with a global platform diversified by territory and type of products
        </div>
      </div>
    </div>
  </div>
</div>

<div class="icon-section">
  <div class="container">
    <div class="row icon-row">
      <div class="icon-col col-sm-12 col-md-4">
        <div class="icon-img">
          <img src="{% static 'img/historia/icon1.png'%}">
        </div>
        <div class="icon-title">
          OVER 245 THOUSAND <br class="visible-gt-767" />
          EMPLOYEES
        </div>
      </div>
      <div class="icon-col col-sm-12 col-md-4">
        <div class="icon-img">
          <img src="{% static 'img/historia/icon2.png'%}">
        </div>
        <div class="icon-title">
          PRESENT IN MORE <br class="visible-gt-767" />
          THAN 150 COUNTRIES
        </div>
      </div>
      <div class="icon-col col-sm-12 col-md-4">
        <div class="icon-img">
          <img src="{% static 'img/historia/icon3.png'%}">
        </div>
        <div class="icon-title">
          MORE THAN 300 THOUSAND <br class="visible-gt-767" />
           CLIENTS GLOBALLY
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-section text-section-end">
  <div class="container">
    <div class="row">
      <div class="text-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="text-text">
          JBS HYGIENE <span class="eespecial">&</span> CLEANING operates since 1990.
          It is a JBS S/A Group business unit and is currently the major Brazilian producer of soaps,
          bar soaps, soap noodle, and glycerin. The production exceeds 1 billion soaps per year.
          We have a modern and technological manufacturing plant, high-end robotic lines, and a highly qualified production process that guarantees the traceability of raw material to the final product.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
