{% extends "page.html" %}
{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/privacidade-v1.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        <strong>Privacy Policy</strong>
      </div>
    </div>
  </div>
</div>

<div class="privacidade-section">
	<div class="container">
		<div class="privacidade-text col-md-12 col-sm-12 col-xs-12">
			<p>&nbsp;</p>
      <p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='line-height:normal'><span lang=EN-US>Your privacy is
        essential to us. JBS HYGIENE &amp; CLEANING values you and is committed to
        protecting your data security and privacy</span></p>

        <p class=MsoNormal style='line-height:normal'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='line-height:normal'><span lang=EN-US>This Privacy
        Policy (Policy) aims at clarifying both accurate and transparently:</span></p>

        <p class=MsoNormal style='line-height:normal'><span lang=EN-US></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'> - The personal data collected</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'> - How and why we use it</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'> - To whom we disclose it and</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'> - How we protect your privacy when
        you use our services or visit our platforms.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>Beforehand, we must inform about
        the personal data of minors. We have to be very careful with this personal
        data. Thus, only individuals over 18 (eighteen) years of age are authorized to
        use the JBS HYGIENE &amp; CLEANING website, agreeing and consenting to this
        condition. By agreeing to this Policy, you give us a complete and
        unquestionable understanding of this and all other details provided below. If
        you are a minor, we ask that you use the JBS website under the supervision of a
        legal representative and constantly enter the personal data of adults.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>1. Where are JBS HYGIENE &amp;
        CLEANING present?</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>JBS HYGIENE &amp; CLEANING, a
        business unit of JBS group, is a multinational known as one of the global
        leaders in the hygiene and cleaning industry. Its mission is to follow its
        values and provide a diversified product portfolio.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>Bearing that in mind, JBS HYGIENE
        &amp; CLEANING website - https://www.jbshl.com.br (Digital Platform), shows
        some of its history, mission, values, business, corporate structure, and other
        information, so you can get to know the company.</span></p>

        <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>2. How do we use your data?</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>JBS HYGIENE &amp; CLEANING website
        requires the gathering of some personal data to improve the navigation
        experience. Therefore, we use your data in multiple ways, depending on every
        specific situation.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>You can find the Terms of Use
        (ToS) specific to the Digital Platform at
        https://www.jbshl.com.br/termos-de-uso</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>The tables below detail what do we
        do and why we do it.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>(a) </span><strong><span
        lang=EN-US style='font-family:"Arial",sans-serif;color:#0E101A'>Collection of
        your data, such as full name, phone number, and e-mail address for the required
        purposes</span></strong><span lang=EN-US style='color:black'>.</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'></span></b></p>

        <table class=a border=1 cellspacing=0 cellpadding=0 style='border-collapse:
         collapse;border:none'>
         <tr style='height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>What do we do?</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border:solid black 1.0pt;
          border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>Why do we do this?</span></p>
          </td>
         </tr>
         <tr style='height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>Identify you when you visit the
          website or contact us.</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>We are legally required to do it.</span></p>
          </td>
         </tr>
         <tr style='height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>We provide information about the
          company and JBS HYGIENE &amp; CLEANING products, and send samples and
          quotations, to clients or stakeholders.</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>It helps us enhance our
          relationship tools for a better experience based on your interests.</span></p>
          </td>
         </tr>
         <tr style='height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>We use your data for after-sales
          and satisfaction surveys.</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>Contractually, we need to know
          the exact identification of the person registering or purchasing products or
          services to control the issuance of orders, invoices, CRM registration, and
          market analysis.</span></p>
          </td>
         </tr>
        </table>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'></span></b></p>

        <p class=MsoNormal style='line-height:normal;background:white'><b><span
        lang=EN-US style='color:black'>(b) </span><strong><span lang=EN-US
        style='font-family:"Arial",sans-serif;color:#0E101A'>In addition to the data
        listed above</span></strong><span lang=EN-US style='color:black'>, your payment
        information</span></b></p>

        <table class=a0 border=1 cellspacing=0 cellpadding=0
         style='border-collapse:collapse;border:none'>
         <tr style='height:1.0pt'>
          <td width=215 valign=top style='width:161.05pt;border:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='line-height:normal;background:white'><span
          lang=EN-US style='color:black'>What do we do?</span></p>
          </td>
          <td width=387 valign=top style='width:290.2pt;border:solid black 1.0pt;
          border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='line-height:normal;background:white'><span
          lang=EN-US style='color:black'>Why do we do this?</span></p>
          </td>
         </tr>
         <tr style='height:1.0pt'>
          <td width=215 valign=top style='width:161.05pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal><span lang=EN-US>Keep a record of all financial
          transactions with you</span></p>
          </td>
          <td width=387 valign=top style='width:290.2pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal><span lang=EN-US>We need to know what you received and
          need to report the transaction to the taxpayer.</span></p>
          </td>
         </tr>
        </table>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US>&nbsp;</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>(c) Your contact history
        with us</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'></span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>We keep a record of what you told
        us when you first reached us  for example, by email, social media, or private
        message, for any information, complaint, compliment, or else. Likewise, we also
        record the calls made to our customer service center if you reach us by phone.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <table class=a1 border=1 cellspacing=0 cellpadding=0
         style='border-collapse:collapse;border:none'>
         <tr style='height:1.0pt'>
          <td width=364 valign=top style='width:273.1pt;border:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>What do we do?</span></p>
          </td>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>Why do we do this?</span></p>
          </td>
         </tr>
         <tr style='height:1.0pt'>
          <td width=364 valign=top style='width:273.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='text-align:justify;line-height:normal;background:
          white'><span lang=EN-US style='color:black'>Record or monitor phone calls to
          customer service</span></p>
          </td>
          <td width=237 valign=top style='width:178.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=MsoNormal style='line-height:normal;background:white'><span
          lang=EN-US style='color:black'>Provide better service and assure quality
          control</span></p>
          </td>
         </tr>
        </table>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'></span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'> <b>(d) Extending the Relationship
        with JBS Hygiene &amp; Cleaning</b></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <p class=MsoNormal style='text-align:justify'><span lang=EN-US>You may decide
        not to provide any data required above. Nevertheless, certain information is
        necessary to navigate the website and some essential services that JBS HYGIENE
        &amp; CLEANING may offer to allow the full use of all website features to keep
        the best relationship with you.</span></p>

        <p class=MsoNormal style='text-align:justify'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><span lang=EN-US>JBS HYGIENE
        &amp; CLEANING may handle your data, according to the relevant legislation, to
        comply with specific laws or regulations, in judicial or administrative
        proceedings, at the request of a court or public administrative body and other
        cases provided for in the General Data Protection Law and/or Regulations on the
        subject. However, whenever there is a complaint, a specific procedure, JBS
        HYGIENE &amp; CLEANING shall comply with and maintain the legal criteria of
        privacy and confidentiality, whether before third parties or the data owner,
        except for the body or specific judicial or administrative jurisdiction of the
        case.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>3. Whom do we share your
        information with?</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>We do not sell or exchange your
        data with third parties, but we share it with others as an essential part of
        our capacity to provide services to you. They may be other group companies,
        service providers, or business partners. We are all committed to keeping your
        information protected.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>JBS HYGIENE &amp; CLEANING may also
        share your data to comply with the current legislation for tax and/or
        consumption purposes and cooperate with the competent authorities.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>4. Where and for how long do
        we keep your data?</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'></span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>All data collected is stored on
        servers in Brazil and, in some cases, in the United States. In the future, JBS
        HYGIENE &amp; CLEANING can relocate and keep these servers in any other country
        that adheres to the privacy legislation to have support or backup under our
        continuous supervision and in a reliable manner.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>We will keep your information as
        long as you have a relationship with JBS HYGIENE &amp; CLEANING and as long as
        necessary to comply with legal requirements. For example, the length of storage
        for data collected if there is no specific legal requirement.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:red'></span></b></p>

        <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>5. How do we keep your data safe?</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>We protect your data from all kinds
        of threats, such as unauthorized destruction, loss, modification, disclosure,
        or access. Furthermore, JBS HYGIENE &amp; CLEANING protects your data according
        to Brazilian legislation's security and confidentiality standards and
        procedures.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>6. Your rights</span></b></p>

        <p class=MsoNormal style='line-height:normal'><span lang=EN-US
        style='color:#0E101A'>You are entitled to request at any time:</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Information on the usage
        of your data</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Access the personal data
        we keep on you</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Request correction of
        inaccurate, incomplete, or outdated personal data that we hold about you</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>d.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Request any anonymization,
        blocking, or deletion of unnecessary, excessive, or non-compliant data,
        considering the exceptions regarding the maintenance of data necessary for JBS
        HYGIENE &amp; CLEANING legal compliance</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>e.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Data portability to
        another service or product provider</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>f.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Information on the
        possibility of not providing consent about the consequences of the denial</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>g.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Revoke consent; and</span></p>

        <p class=MsoNormal style='margin-left:25.1pt;text-indent:-18.0pt;line-height:
        normal'><span lang=EN-US style='color:#0E101A'>h.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
        </span></span><span lang=EN-US style='color:#0E101A'>Information about sharing
        your data with public and private entities</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>Any request filing must be through
        an order, including a copy of your identification, ID, Driver's License,
        Passport, or Professional ID, by accessing the website: <a
        href="https://jbs.com.br/contato/portal-de-privacidade/"><span
        style='color:#1155CC;text-decoration:none'>https://jbs.com.br/contact/portal-de-privacidade/</span></a></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:red'></span></b></p>

          <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;page-break-after:
        avoid;background:white'><b><span lang=EN-US style='color:black'>7. Cookies
         Digital Platform </span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>When accessing the website, JBS
        HYGIENE &amp; CLEANING automatically collect information about you, through
        cookies, web beacons, your browser, and operating system, about the websites
        that accessed the links to the terminal IP address. JBS HYGIENE &amp; CLEANING
        mainly uses the information collected to increase your experience concerning
        website browsing.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>At any time, you may choose not to
        receive a cookie file by setting your browser to refuse cookies or prompt you
        before accepting one. However, please note that you may not access various
        website functions by refusing to accept cookies.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>&quot;Cookies&quot; are text files
        downloaded automatically and stored on the device used. At the same time, you
        browse a specific website or portal on the internet, which allows the storage
        of a certain amount of data about your internet activity. The usage of cookies
        enables the website to know its users' interests, behavior, and demographics
        (visitors or not) and accurately understand their needs and interests, offer a
        more dependable service, or provide related information.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

        <br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>8. Password Protection and
        Access to JBS HYGIENE &amp; CLEANING Service Channels</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>To register on the Digital Platform
        by creating a specific access account, we ask you to create a username and
        password. If you lose control over your account or password to access the
        Digital Platform, you may lose control over your data. Therefore, if your
        password is compromised for any reason, please change it immediately, modifying
        the registration data provided to JBS HYGIENE &amp; CLEANING.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>9. Links  External Links</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>The website may have links to other
        websites that have their privacy and confidentiality policies. If you visit
        other websites, we recommend that you carefully read the confidentiality
        practices and procedures. This Privacy Policy does not cover the practices and
        policies of third parties, including those who may reveal and/or share
        information with JBS HYGIENE &amp; CLEANING.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

<br/>
        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>10. Public Information</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'></span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>Please, consider that, when
        including information in public areas of the Digital Platform, it will be available
        to other Users and the public. JBS HYGIENE &amp; CLEANING cannot control what
        other people do with the information. So please remember it and be careful
        about the data you decide to disclose.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'></span></p>

<br/>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>11. Responsible </span><strong><span
        lang=EN-US style='font-family:"Arial",sans-serif;color:#0E101A'>for your Data
        Protection</span></strong></b></p>

        <p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='color:black'>The responsible for the database in Brazil is
        JBS S/A, enrolled with CNPJ/MF no. 02.916.265/0001-60. </span><span lang=PT-BR
        style='color:black'>The address is Avenida Marginal Direita do Tiet 500, Vila
        Jaguar, So Paulo, Brasil.</span></p>

        <p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='color:black'>The responsible for the database in Brazil is
        JBS S/A HIGIENE &amp; LIMPEZA, enrolled with CNPJ/MF no. 02.916.265/0173-05. </span><span
        lang=PT-BR style='color:black'>The address is Rodovia BR 153 KM 179 BL2, N SN,
        Zona Rural, Lins, So Paulo, Brasil, ZIP 16400-972.</span></p>

        <p class=MsoNormal style='line-height:normal;background:white'><span
        lang=EN-US style='color:black'>JBS HIGIENE &amp; LIMPEZA may change this
        Privacy Policy in the future. Any change in how JBS uses personal data will be
        established in future releases of this &quot;Privacy Policy&quot; and published
        and disclosed on the JBS HYGIENE &amp; CLEANING website. We recommend reviewing
        this section periodically.</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><b><span lang=EN-US style='color:black'>12. Applicable Legislation
        and Jurisdiction</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:normal;background:
        white'><span lang=EN-US style='color:black'>The terms of this Privacy Policy
        are construed under Brazilian law. The court of the capital of the State of the
        User's domicile is thus elected to settle any litigation, dispute, or question
        that may arise, expressly waiving any other, however privileged it may be.</span></p>
		</div>
	</div>
</div>

{% endblock %}
