{% extends "page.html" %}
{% load static %}

{% block title %}Sustainability{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sustentabilidade-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        <strong>Sustainability</strong>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/florest.png' %}" alt="Sustentabilidade">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row highlight-row">
      <div class="highlight-col col-sm-12 col-md-12">
        <div class="highlight-detail">
          &nbsp;
        </div>
        <div class="highlight-text">
          <strong>Sustainability at JBS is a transversal commitment of the Business Units with the Company sectors</strong>
           in all countries where the company operates and runs the business. It is all based on ethical and transparent performance, a constructive relationship with stakeholders, and responsibility for treating people, animals, and the environment.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="amazonia-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="amazonia-image">
          <img src="{% static 'img/sustentabilidade/amazonia.png' %}" alt="Juntos pelo Amazonia">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="iniciativa-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="iniciativa-text">
          One of the most important actions is the program Juntos pela Amazônia (Together for the Amazon), which is part of this engagement and encourages the development of the Amazon biome. It promotes the conservation and sustainable use of the forest, improves the quality of life of the local population, and advances new technologies to preserve the environment. Furthermore, having a blocĸchain platform in place, unprecedented in the animal protein sector, will expand the monitoring of JBS' direct suppliers to their suppliers.
        </div>
        <div class="iniciativa-link">
          Learn more at: <a href="https://www.jbs.com.br/sustentabilidade" target="_blank" rel="noopener">www.jbs.com.br/sustentabilidade</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divisor-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="divisor-image">
          <img src="{% static 'img/sustentabilidade/divisor.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/plant.png' %}" alt="Planta">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row highlight-row">
      <div class="highlight-col col-sm-12 col-md-12">
        <div class="highlight-detail">
          &nbsp;
        </div>
        <div class="highlight-text">
          Global warming is one of the most significant challenges in human history. As one of the world's largest food producers, JBS is committed to being part of the change, becoming Net Zero by 2040.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
