{% extends "page.html" %}
{% load static %}

{% block title %}Nuestro Negocio{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/negocio-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Nuestro <strong>Negocio</strong>
      </div>
    </div>
  </div>
</div>

<div class="textimage-section">
  <div class="container">
    <div class="row textimage-row">
      <div class="textimage-text-col textimage-negocio-col col-sm-12 col-md-6">
        <div class="textimage-detail">
          &nbsp;
        </div>
        <div class="textimage-text">
          Como parte de un grupo que posee una cadena de producción generadora de grasa animal, H<span class="eespecial">&</span>B tiene suministros de alta escala y calidad, debido a un modelo de trazabilidad que permite identificar de cuál hacienda proviene cada materia prima. Eso asegura que el aceite animal utilizado en nuestro proceso de producción esté bajo todas las normas de sustentabilidad.
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="negocio-image-col">
          <img src="{% static 'img/home/negocio.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="producao-section">
  <div class="container">
    <div class="row producao-row">
      <div class="col-sm-12 col-md-6">
        <div class="negocio-image-col">
          <img src="{% static 'img/negocio/producao-v2.png'%}">
        </div>
      </div>
      <div class="producao-text-col col-sm-12 col-md-6">
        <div class="producao-detail">
          &nbsp;
        </div>
        <div class="producao-text">
          <strong>Las 11 líneas de producción</strong> de jabones de tocador son robotizadas y programadas para que se produzcan distintos tipos de embalajes como: flow pacĸ, folding boxes y wrapping paper. Adicionalmente, las líneas están programadas para la producción de pacĸs promocionales (desde lleve 4, pague 3 hasta lleve 12, pague 11), permitiendo una alta flexibilidad y competitividad a nuestros clientes.
        </div>
        <div class="producao-destaque-text">
          Con modernos sistemas de seguridad, todo jabón de tocador producido pasa por un proceso estricto de control de calidad, asegurando todas las especificaciones y siguiendo todas las exigencias de los órganos reguladores y las auditorías de los clientes.
        </div>
        <div class="producao-destaque-image">
          <img src="{% static 'img/negocio/destaque.png'%}">
        </div>
    </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>NUESTROS PRODUCTOS</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 produto-img-col">
        <div class="produto-img">
          <img src="{% static 'img/home/produto1.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          MASA BASE
        </div>
        <div class="produto-text">
          Gran variedad de masas disponibles para atender a distintos tipos de perfiles de jabones de tocador y jabones barra, tanto de origen animal como vegetal, respetando las mejores prácticas de sustentabilidad desde el inicio de la cadena de suministro.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 produto-img-col">
        <div class="produto-double-img">
          <img src="{% static 'img/home/produto3.png'%}">
          <img src="{% static 'img/home/produto4.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          JABÓN DE TOCADOR Y JABÓN BARRA
        </div>
        <div class="produto-text">
          Líneas de producción adaptadas para atender al pequeño, mediano y gran volumen. Además de distintos formatos, pesos y embalajes, tales como: wrapping paper, flow pacĸ, folding boxes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="produto-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 produto-img-col">
        <div class="produto-img">
          <img src="{% static 'img/home/produto2.png'%}">
        </div>
      </div>
      <div class="col-md-8 produto-text-col">
        <div class="produto-title">
          GLICERINA BIDESTILADA
        </div>
        <div class="produto-text">
          Alta capacidad de producción de glicerina bruta y bidestilada (USP) para atender distintos segmentos, tales como: alimentario, farmacéutico, químico entre otros.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>CALIDAD</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="qualidade-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 qualidade-text-col">
        <div class="qualidade-title">
          1. Sistema de gestión:
        </div>
        <div class="qualidade-text">
          <ul class="qualidade-bullets-ul">
            <li>Auditorías internas (anuales en 23 procesos);</li>
            <li>Auditorías de clientes;</li>
            <li>Auditorías de organismos reguladores;</li>
            <li>Validaciones (limpieza, software, procesos, productos y métodos);</li>
            <li>Aprobación de proveedores;</li>
            <li>Relación postventa con los clientes;</li>
            <li>Indicadores de calidad;</li>
            <li>Responsable por la liberación de todos los productos terminados;</li>
            <li>Control de documentos internos y externos (vía sistema isosystem).</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="qualidade-img">
          <img src="{% static 'img/negocio/qualidade.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigtitle-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 bigtitle-title-col">
        <div class="bigtitle-title">
          <strong>Laboratório</strong>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="qualidade-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 qualidade-text-col">
        <div class="qualidade-title">
          2. Físico-Químico y Microbiológico:
        </div>
        <div class="qualidade-text">
          <ul class="qualidade-bullets-ul">
            <li>Análisis de recepción de materia prima, proceso y producto terminado;</li>
            <li>Prestación de servicios para análisis externas;</li>
            <li>Estandarización de colecciones y entrenamientos técnicos;</li>
            <li>Auditorías de procesos.</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="qualidade-img">
          <img src="{% static 'img/negocio/laboratorio.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row">
      <div class="highlight-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="highlight-title">
           NUESTRAS <strong>CERTIFICACIONES:</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="certificacoes-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="certificacoes-img">
          <img src="{% static 'img/negocio/certificacoes-es-v2.png'%}">
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
