{% extends "page.html" %}
{% load static %}

{% block title %}Nuestra Historia{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/historia-v1.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        Nuestra <strong>Historia</strong>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/historia/photo-v2.png' %}" alt="Nossa História">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row">
      <div class="highlight-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="highlight-title">
          Operando desde 1990, H<span class="eespecial">&</span>B es una unidad de negocios del Grupo JBS S/A y actualmente es la principal productora de jabones de tocador, jabones barra, masa base y glicerina de Brasil.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-section">
  <div class="container">
    <div class="row">
      <div class="text-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="text-text">
          Fundado en la década de 1950 en Brasil, el Grupo JBS S/A es la segunda mayor compañía de alimentos del mundo, líder en la producción de proteína animal que posee una plataforma global diversificada por territorios y tipos de productos.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="icon-section">
  <div class="container">
    <div class="row icon-row">
      <div class="icon-col col-sm-12 col-md-4">
        <div class="icon-img">
          <img src="{% static 'img/historia/icon1.png'%}">
        </div>
        <div class="icon-title">
          MÁS DE 245 MIL <br class="visible-gt-767" />
          COLABORADORES
        </div>
      </div>
      <div class="icon-col col-sm-12 col-md-4">
        <div class="icon-img">
          <img src="{% static 'img/historia/icon2.png'%}">
        </div>
        <div class="icon-title">
          PRESENTES EN<br class="visible-gt-767" />
          MÁS DE 150 PAÍSES
        </div>
      </div>
      <div class="icon-col col-sm-12 col-md-4">
        <div class="icon-img">
          <img src="{% static 'img/historia/icon3.png'%}">
        </div>
        <div class="icon-title">
          MÁS DE 300 MIL CLIENTES <br class="visible-gt-767" />
          ALREDEDOR DEL MUNDO
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-section text-section-end">
  <div class="container">
    <div class="row">
      <div class="text-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="text-text">
          Operando desde 1990, JBS Higiene y Limpieza es una unidad de negocios del grupo JBS y actualmente es la principal productora de jabones de tocador, jabones barra, masa base y glicerina de Brasil. Con producción superior a mil millones de jabones por año, disponemos de un moderno y tecnológico parque industrial, líneas robotizadas de última generación y un proceso de producción altamente calificado que asegura la trazabilidad de materia prima hasta el producto final.
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
