{% extends "page.html" %}
{% load static %}

{% block title %}Política de Privacidad{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/privacidade-v1.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        <strong>Política de Privacidad</strong>
      </div>
    </div>
  </div>
</div>

<div class="privacidade-section">
	<div class="container">
		<div class="privacidade-text col-md-12 col-sm-12 col-xs-12">
			<p>&nbsp;</p>

      <p class=Normal1 style='line-height:normal;background:white'><span
      lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Su privacidad
      es muy importante para nosotros. JBS HIGIENE Y LIMPIEZA le valora y se
      compromete a proteger su seguridad y la privacidad de sus datos.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Con esta
      Política de Privacidad (“Política”) pretendemos aclararle, de forma objetiva y
      transparente:</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:18.0pt;text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>·        Qué datos personales recopilamos;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:18.0pt;text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>·        Cómo y por qué motivo los utilizamos;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:18.0pt;text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>·        A quién se los divulgamos; y</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:18.0pt;text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>·     Cómo protegemos su privacidad cuando usted
      utiliza nuestros servicios o visita nuestras plataformas.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Ante todo, es
      importante presentar información sobre los datos personales de los menores. Tenemos
      que tener mucho cuidado con esos datos personales, por lo tanto, solamente
      personas físicas mayores de 18 (dieciocho) años están autorizados a utilizar el
      sitio web de JBS HIGIENE Y LIMPIEZA aceptando y consintiendo a esta condición.
      Al aceptar esta Política, nos da una impresión completa e incuestionable de este
      y de todos los demás detalles que se proporcionan a continuación. Si es menor
      de edad, le pedimos que haga cualquier uso del sitio web de JBS bajo
      supervisión de sus representantes legales y siempre ingresando datos personales
      de adultos.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>1.           ¿Dónde JBS HIGIENE Y LIMPIEZA está
      presente?</span></b></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style=''>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>JBS HIGIENE Y
      LIMPIEZA, unidad de negocio del grupo JBS, es una multinacional reconocida como
      una das líderes globales de la industria de Higiene y Limpieza, cuya misión es seguir
      sus valores y ofrecer una cartera de productos diversificada.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Por eso, JBS Higiene
      Y LIMPIEZA por medio del sitio web </span><span lang=ES-TRAD style='color:#2F5496'>https://www.jbshl.com.br
      </span><span lang=ES-TRAD style='color:black'>(“Plataforma Digital”), presenta
      un poco de su historia, su misión, valores, sus negocios, su estructura
      corporativa, entre otras informaciones, para brindarle información sobre la
      empresa.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>2.           ¿Cómo usamos sus datos personales?</span></b></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>En el contexto
      del sitio web JBS HIGIENE Y LIMPIEZA será necesario recopilar algunos datos
      personales para una mejor experiencia de navegación en el sitio web. Por lo
      tanto, utilizamos sus datos personales de diferentes formas dependiendo de su
      situación específica.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Los Términos de
      Uso (“ToS”) específicos de la Plataforma Digital, los podrá encontrar en el enlace
      </span><span lang=ES-TRAD style='color:#2F5496'>https://www.jbshl.com.br/termos-de-uso</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Las tablas a
      continuación se describen más detalladamente, mostrando qué hacemos y por qué lo
      hacemos.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>(a)   Recolección de sus datos personales,
      como nombre completo, número de teléfono, e-mail y otros, que sean necesarios
      para sus fines.</span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'> </span></b></p>

      <table class=a border=1 cellspacing=0 cellpadding=0 style='border-collapse:
        collapse;border:none'>
        <thead>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>¿Qué hacemos?</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border:solid black 1.0pt;
          border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>¿Por qué lo hacemos?</span></p>
          </td>
        </tr>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Identificarlo cuando usted
          visita nuestro sitio o accede a: Contáctenos.</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Legalmente, necesitamos hacerlo.</span></p>
          </td>
        </tr>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Brindamos información sobre la
          empresa y los productos de JBS HIGIENE Y LIMPIEZA, enviando muestras y cotizaciones
          a nuestros clientes o interesados.</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Nos ayudan a mejorar nuestras herramientas
          de relación para una mejor experiencia basada en sus intereses.</span></p>
          </td>
        </tr>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Usamos sus datos personales
          para el postventa y pesquisa de satisfacción.</span></p>
          </td>
          <td width=364 valign=top style='width:273.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Contractualmente, necesitamos conocer
          la identificación correcta de quienes están registrando o comprando productos
          o servicios. Control de la emisión de pedidos, emisión de factura, registro en
          CRM y análisis de mercado.</span></p>
          </td>
        </tr>
        </thead>
      </table>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><b><span lang=ES-TRAD style='color:black'> </span></b></p>

      <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>(b)            Además de los datos anteriores,
      su información de pago</span></b></p>

      <table class=a0 border=1 cellspacing=0 cellpadding=0
        style='border-collapse:collapse;border:none'>
        <thead>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=215 valign=top style='width:161.05pt;border:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:15.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>¿Qué hacemos?</span></p>
          </td>
          <td width=387 valign=top style='width:290.2pt;border:solid black 1.0pt;
          border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:15.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>¿Por qué lo hacemos?</span></p>
          </td>
        </tr>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=215 valign=top style='width:161.05pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:15.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Mantener  un registro de todas
          las transacciones financieras con usted</span></p>
          </td>
          <td width=387 valign=top style='width:290.2pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:15.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Necesitamos saber lo qué usted
          recibió, además de informarle al contribuyente sobre esta transacción.</span></p>
          </td>
        </tr>
        </thead>
      </table>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'> </span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>(c)              Su histórico de contacto con
      nosotros</span></b></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><b><span lang=ES-TRAD style='color:black'> </span></b></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Qué nos dice cuando
      se pone en contacto con nosotros – por ejemplo, por e-mail, red social o mensaje
      privado, por cualquier información, queja, elogios, entre otros. Si nos
      contacta por teléfono, se graban las llamadas a nuestro <i>call center</i>.</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <table class=a1 border=1 cellspacing=0 cellpadding=0
        style='border-collapse:collapse;border:none'>
        <thead>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=364 valign=top style='width:273.1pt;border:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>¿Qué hacemos?</span></p>
          </td>
          <td width=237 valign=top style='width:178.1pt;border:solid black 1.0pt;
          border-left:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>¿Por qué lo hacemos?</span></p>
          </td>
        </tr>
        <tr style='page-break-inside:avoid;height:1.0pt'>
          <td width=364 valign=top style='width:273.1pt;border:solid black 1.0pt;
          border-top:none;padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Grabar o monitorear las llamadas
          telefónicas realizadas en el servicio de atención al consumidor</span></p>
          </td>
          <td width=237 valign=top style='width:178.1pt;border-top:none;border-left:
          none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
          padding:5.0pt 5.0pt 5.0pt 5.0pt;height:1.0pt'>
          <p class=Normal1 style='margin-bottom:8.0pt;line-height:normal;background:
          white'><span lang=ES-TRAD style='color:black'>Ofrecer una mejor atención y
          realizar controles de calidad.</span></p>
          </td>
        </tr>
        </thead>
      </table>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><b><span lang=ES-TRAD style='color:black'> </span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>(d)             <b>Ampliando la Relación con JBS
      HIGIENE Y LIMPIEZA</b></span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Usted podrá
      optar por no facilitar ninguno de los datos requeridos anteriormente, sin
      embargo, para realizar la navegación en el sitio web y tener acceso a algunos
      servicios básicos de JBS HIGIENE Y LIMPIEZA cierta información será necesaria, para
      que logre utilizar integralmente todas las funciones de nuestro sitio. De modo
      que podamos mantener la mejor relación con usted.</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>JBS HIGIENE Y
      LIMPIEZA podrá tratar sus datos personales, siempre de acuerdo con la Legislación
      pertinente, a los efectos del cumplimiento de leyes o normativas específicas,
      en procedimientos judiciales o administrativos, a instancia de Juez u órgano administrativo
      público competente y demás supuestos previstos en la Ley General de Protección
      de Datos y/o Reglamento en la materia. Siempre que exista una denuncia (procedimiento
      específico) JBS HIGIENE Y LIMPIEZA cumplirá y mantendrá los criterios legales
      de secreto y confidencialidad, ya sea ante terceros o ante el interesado, con
      excepción únicamente del órgano o fuero específico judicial o administrativo del
      caso eventual.</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>3.           </span></b><span lang=ES-TRAD
      style='color:black'>¿<b>Con quién compartimos sus informaciones?</b></span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>No vendemos ni intercambiamos sus datos
      personales con terceros, pero los compartimos con otros como una parte esencial
      de nuestra capacidad para brindarle nuestros servicios. Pueden ser otras
      empresas del grupo, proveedores de servicios o socios comerciales. Todos
      estamos comprometidos en mantener sus informaciones seguras.</span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'>JBS HIGIENE Y LIMPIEZA también podrá compartir
      datos personales con el fin de cumplir con la legislación vigente, y efectos fiscales
      y/o de consumo y para cooperar con as autoridades competentes.</span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>4.           </span></b><span lang=ES-TRAD
      style='color:black'>¿<b>Dónde y durante cuánto tiempo guardamos sus datos
      personales?</b></span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><b><span lang=ES-TRAD style='color:black'> </span></b></p>

      <p class=MsoNoSpacing style='text-align:justify'><span lang=ES-TRAD>Todos los
      datos personales se almacenan en servidores ubicados en Brasil y, en algunos
      casos, en Estados Unidos. En el futuro, JBS HIGIENE Y LIMPIEZA podrá reubicar y
      almacenar estos servidores en cualquier otro país que cumpla con la legislación
      de privacidad, con el fin de tener una copia de seguridad o <i>backup</i>, manteniéndolos
      <span style='color:#202124'>siempre</span></span></p>

      <p class=MsoNoSpacing style='text-align:justify'><span lang=ES-TRAD>bajo nuestra
      supervisión y de manera segura.</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Conservaremos
      su información mientras tenga relación con JBS HIGIENE Y LIMPIEZA y durante el
      tiempo que sea necesario para cumplir con nuestros requisitos legales. El
      período de tiempo que se almacenan los datos varía según el propósito para el
      que se recopilaron, si no existe un requisito legal específico.</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><b><span lang=ES-TRAD style='color:red'> </span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>5.           </span></b><span lang=ES-TRAD
      style='color:black'>¿<b>Cómo mantenemos seguros sus datos personales?</b></span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Protegemos sus
      datos personales de todo tipo de amenazas: destrucción, pérdida, alteración,
      divulgación o acceso no autorizados. JBS HIGIENE Y LIMPIEZA protege sus Datos
      Personales de acuerdo con los estándares y procedimientos de seguridad y
      confidencialidad establecidos por la legislación brasileña.</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>6.           Sus derechos</span></b></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Como sus derechos,
      puede solicitarlo en cualquier momento:</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>a.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Información sobre cómo se están utilizando sus
      datos personales;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>b.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Acceder a los datos personales que guardamos
      sobre usted;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>c.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Solicitar la corrección de los datos personales
      incorrectos, incompletos o desactualizados que mantenemos sobre usted;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>d.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Solicitar la anonimización, bloqueo o supresión
      de datos innecesarios, excesivos o no conformes, siempre teniendo en cuenta las
      excepciones relativas al mantenimiento de datos necesarios a los efectos del
      cumplimento legal por parte de JBS HIGIENE Y LIMPIEZA<i>;</i></span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>e.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Portabilidad de datos a otro proveedor de
      servicio o producto;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>f.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Información sobre la posibilidad de no dar
      consentimiento sobre las consecuencias de la negación;</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>g.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Revocar el consentimiento; e</span></p>

      <p class=Normal1 style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
      margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:normal;
      background:white'><span lang=ES-TRAD style='font-size:10.0pt;font-family:"Verdana",sans-serif'>h.<span
      style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
      lang=ES-TRAD style='color:black'>Información sobre cómo compartir sus datos con
      entidades públicas y privadas;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Cualquier solicitud
      debe realizarse mediante un pedido, que contenga una copia de su identificación
      personal, Carnet de Identidad, Licencia de conducir, Pasaporte o
      Identificaciones Profesionales, accediendo al sitio web: </span><span lang=ES
      style='color:black'><a href="https://jbs.com.br/contato/portal-de-privacidade/"><span
      lang=ES-TRAD style='color:#1155CC;text-decoration:none'>https://jbs.com.br/contato/portal-de-privacidade/</span></a></span></p>

      <p class=Normal1 style='margin-bottom:8.0pt;text-align:justify;line-height:
      normal;background:white'><b><span lang=ES-TRAD style='color:red'> </span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>7.           Cookies – Plataforma Digital</span></b></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Considere que,
      al acceder al sitio web, JBS HIGIENE Y LIMPIEZA recibe automáticamente información
      sobre usted, a través de informaciones de <i>cookies</i>, <i>web</i> <i>beacons</i>,
      su navegador y sistema operacional, sobre los sitios web a los que accede, los enlaces
      y la dirección IP del terminal. JBS HIGIENE Y LIMPIEZA utiliza la información recabada
      principalmente para mejorar su experiencia en relación a la navegación por el sitio.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>En todo momento
      puede optar por no recibir un archivo de <i>cookies</i>, configurando su
      navegador para que rechace las cookies o le pregunte antes de aceptar una. Tenga
      en cuenta que, al negarse a aceptar cookies, es posible que no tenga acceso a varias
      funciones del sitio web.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Las “<i>Cookies</i>”
      son archivos de texto que se descargan y almacenan automáticamente en el
      dispositivo utilizado, mientras navega en un sitio web o portal específico en
      internet, que le permiten guardar una cierta cantidad de datos sobre sus actividades
      en internet. Las cookies se utilizan con la finalidad de conocer los intereses,
      comportamiento y demografía de los Usuarios (Visitantes o no) del sitio web, con
      el fin entender mejor sus necesidades e intereses, ofrecer un mejor servicio o proporcionar
      información relacionada.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>8.    Protección de Contraseñas y Del Acceso a
      los Canales de Servicio de JBS HIGIENE Y LIMPIEZA</span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Al registrarse
      en la Plataforma Digital creando una cuenta de acceso específica, le pedimos que
      cree un nombre de usuario y contraseña. Si pierde el control sobre su cuenta o contraseña
      para acceder a la Plataforma Digital, puede perder el control sobre sus datos
      personales. Por lo tanto, si por cualquier motivo su contraseña se ve comprometida,
      cámbiela inmediatamente, modificando los datos de registro facilitados a JBS HIGIENE
      Y LIMPIEZA<i>.</i></span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>9.           Enlaces – vínculos</span></b><span
      lang=ES-TRAD style='color:black'> <b>externos</b></span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>El sitio puede tener
      vínculos (enlaces) a otros sitios web que tienen sus propias políticas de
      privacidad y de confidencialidad. Si visita otros sitios, le recomendamos que
      lea atentamente sus prácticas y políticas de confidencialidad, y esta Política
      de Privacidad no cubre las prácticas y políticas de terceros, incluidos aquellos
      que pueden revelar y/o compartir información con JBS HIGIENE Y LIMPIEZA<i>.</i></span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>10.         Información Pública</span></b></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'> </span></b></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Tenga en cuenta
      que, al insertar información en áreas públicas de la Plataforma Digital, estará
      disponible para otros usuarios y para el público en general. JBS HIGIENE Y
      LIMPIEZA<i> </i>no puede controlar lo que esas personas hacen con la
      información. Por favor, recuerde esto y tenga con la información que decida
      divulgar.</span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>11.         Responsable por la Protección de su
      Dato Personal</span></b></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>El responsable
      por la base de datos en Brasil es JBS S/A, debidamente registrada en CNPJ/MF bajo
      el nº 02.916.265/0001-60, localizada en la Avenida Marginal Direita do Tietê<i>,</i>
      500, Vila Jaguará<i>, São Paulo, Brasil</i>.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>El responsable de
      la base de datos en Brasil es JBS S/A HIGIENE Y LIMPIEZA debidamente registrada
      en CNPJ/MF bajo nº 02.916.265/0173-05, ubicada en la Rodovia BR 153 KM 179 BL2,
      Nº SN, Zona Rural – <i>Lins – São Paulo – Brasil</i> – CEP 16400-972.</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>JBS HIGIENE Y
      LIMPIEZA<i> </i>puede realizar cambios en esta Política de Privacidad en el
      futuro. Cualquier alteración en la forma en que JBS utiliza los datos personales
      se establecerá en las futuras versiones de esta “Política de Privacidad”, y se
      publicará y se divulgará en el sitio web JBS JBS HIGIENE Y LIMPIEZA<i>.</i>.
      Recomendamos revisar periódicamente esta sección.</span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><span
      lang=ES-TRAD style='color:black'> </span></p>

      <p class=Normal1 style='text-align:justify;line-height:normal;background:white'><b><span
      lang=ES-TRAD style='color:black'>12.    Ley Aplicable y Jurisdicción</span></b></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD>&nbsp;</span></p>

      <p class=Normal1 style='margin-bottom:6.0pt;text-align:justify;line-height:
      normal;background:white'><span lang=ES-TRAD style='color:black'>Los términos de
      esta Política de Privacidad se interpretan de acuerdo con la ley brasileña, y
      el Tribunal de la capital del Estado de domicilio del Usuario es elegido para
      resolver<span style=''> </span>cualquier disputa, cuestión o
      duda que surja, con la renuncia expresa a cualquier otra, por privilegiada que
      pueda ser.</span></p>

		</div>
	</div>
</div>

{% endblock %}
