{% extends "page.html" %}
{% load static %}

{% block title %}Sustentabilidad{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sustentabilidade-v2.css' %}">
{% endblock %}

{% block content %}

<div class="banner-section">
  <div class="banner-content">
    <div class="container">
      <div class="banner-title">
        <strong>Sustentabilidad</strong>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/florest.png' %}" alt="Sustentabilidade">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row highlight-row">
      <div class="highlight-col col-sm-12 col-md-12">
        <div class="highlight-detail">
          &nbsp;
        </div>
        <div class="highlight-text">
          <strong>La sustentabilidad en JBS es un compromiso transversal de las Unidades de Negocios con áreas de la Compañía</strong> en todos los países donde la empresa mantiene operaciones y realiza negocios. Todo basado en una actuación ética y transparente, en una relación constructiva con sus partes interesadas y en la responsabilidad del trato dado a las personas, a los animales y al medio ambiente.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="amazonia-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="amazonia-image">
          <img src="{% static 'img/sustentabilidade/amazonia.png' %}" alt="Juntos pelo Amazonia">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="iniciativa-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="iniciativa-text">
          Una de las iniciativas más importantes es el programa Juntos por la Amazonia que integra este compromiso, fomenta el desarrollo del bioma amazónico, promueve la conservación y el uso sustentable de la selva, predice avances en la calidad de vida de su población y el desarrollo de nuevas tecnologías para preservar el medio ambiente. Con la implementación de una plataforma blocĸchain, inédita en el sector de proteína animal, se ampliará el seguimiento de los proveedores directos de JBS a sus proveedores.
        </div>
        <div class="iniciativa-link">
          Conozca más en: <a href="https://www.jbs.com.br/sustentabilidade" target="_blank" rel="noopener">www.jbs.com.br/sustentabilidade</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divisor-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="divisor-image">
          <img src="{% static 'img/sustentabilidade/divisor.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/plant.png' %}" alt="Planta">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="highlight-section">
  <div class="container">
    <div class="row highlight-row">
      <div class="highlight-col col-sm-12 col-md-12">
        <div class="highlight-detail">
          &nbsp;
        </div>
        <div class="highlight-text">
          <strong>El calentamiento global es uno de los mayores desafíos de la historia de la humanidad.</strong>
          Como una das mayores productoras mundiales de alimentos, JBS asume el compromiso de hacer parte del cambio, convirtiéndose Net Zero hasta 2040.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image net-zero">
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/net-zero.png' %}" alt="Net Zero">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="photo-section">
  <div class="container">
    <div class="row">
      <div class="photo-section-col col-md-12 col-sm-12 col-xs-12">
        <div class="photo-section-image">
          <div class="desafio">¿Y cuáles son las estrategias para ese desafío?</div>
          <img class="photo-section-img" src="{% static 'img/sustentabilidade/net-zero-flow-es.png' %}" alt="Net Zero Flow">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="iniciativa-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="iniciativa-link">
          Conozca más en: <a href="https://www.jbs.com.br/netzero" target="_blank" rel="noopener">www.jbs.com.br/netzero</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
